In [1]:
import os, sys
curr_dir = os.getcwd()
print(curr_dir)

/home/am/Documents/Software Development/10_Academy Training/week1/stock-market-analysis/notebooks

In [2]:
parent_dir = os.path.dirname(curr_dir)
print(parent_dir)

/home/am/Documents/Software Development/10_Academy Training/week1/stock-market-analysis

In [3]:
# Insert the path to the parent directory
sys.path.insert(0, parent_dir)

In [4]:
from scripts.quantitative_analysis import stock_quantitative_analyzer

In [5]:
import yfinance as yf
ticker = 'AAPL'
start_date = '2023-01-01'
end_date = '2023-12-31'
output_folder = 'visualizations'

In [6]:
analyzer = stock_quantitative_analyzer(ticker, start_date, end_date, output_folder)

*********************100%***********************]  1 of 1 completed

In [7]:
analyzer.stock_data = yf.download(ticker, start=start_date, end=end_date)

*********************100%***********************]  1 of 1 completed

In [8]:
type(analyzer.stock_data)

pandas.core.frame.DataFrame

In [9]:
df = analyzer.stock_data

In [10]:
df.head()

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,
2023-01-03,123.768456,125.070000,130.899994,124.169998,130.279999,112117500
2023-01-04,125.045036,126.360001,128.660004,125.080002,126.889999,89113600
2023-01-05,123.718971,125.019997,127.769997,124.760002,127.129997,80962700
2023-01-06,128.271103,129.619995,130.289993,124.889999,126.010002,87754700
2023-01-09,128.795593,130.149994,133.410004,129.889999,130.470001,70790800

In [11]:
df.columns

MultiIndex([('Adj Close', 'AAPL'),
            (    'Close', 'AAPL'),
            (     'High', 'AAPL'),
            (      'Low', 'AAPL'),
            (     'Open', 'AAPL'),
            (   'Volume', 'AAPL')],
           names=['Price', 'Ticker'])

In [12]:
# Reset the index to make 'Date' a column
df.reset_index(inplace=True)

# Flatten the MultiIndex columns (if present)
df.columns = [col[0] if isinstance(col, tuple) else col for col in df.columns]

# Select the required columns and reorder them
required_columns = ["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"]
cleaned_data = df[required_columns]

# Display the cleaned DataFrame
cleaned_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-01-03,130.279999,130.899994,124.169998,125.070000,123.768456,112117500
1,2023-01-04,126.889999,128.660004,125.080002,126.360001,125.045036,89113600
2,2023-01-05,127.129997,127.769997,124.760002,125.019997,123.718971,80962700
3,2023-01-06,126.010002,130.289993,124.889999,129.619995,128.271103,87754700
4,2023-01-09,130.470001,133.410004,129.889999,130.149994,128.795593,70790800

In [13]:
df = cleaned_data
analyzer.calculate_indicators()

In [14]:
df = analyzer.stock_data
df.head(50)

,Date,Adj Close,Close,High,Low,Open,Volume,SMA-20,RSI_14,MACD,MACD_signal,MACD_hist
0,2023-01-03,123.768456,125.070000,130.899994,124.169998,130.279999,112117500,NaN,NaN,NaN,NaN,NaN
1,2023-01-04,125.045036,126.360001,128.660004,125.080002,126.889999,89113600,NaN,NaN,NaN,NaN,NaN
2,2023-01-05,123.718971,125.019997,127.769997,124.760002,127.129997,80962700,NaN,NaN,NaN,NaN,NaN
3,2023-01-06,128.271103,129.619995,130.289993,124.889999,126.010002,87754700,NaN,NaN,NaN,NaN,NaN
4,2023-01-09,128.795593,130.149994,133.410004,129.889999,130.470001,70790800,NaN,NaN,NaN,NaN,NaN
5,2023-01-10,129.369568,130.729996,131.259995,128.119995,130.259995,63896200,NaN,NaN,NaN,NaN,NaN
6,2023-01-11,132.100830,133.490005,133.509995,130.460007,131.250000,69458900,NaN,NaN,NaN,NaN,NaN
7,2023-01-12,132.021667,133.410004,134.259995,131.440002,133.880005,71379600,NaN,NaN,NaN,NaN,NaN
8,2023-01-13,133.357620,134.759995,134.919998,131.660004,132.029999,57809700,NaN,NaN,NaN,NaN,NaN
9,2023-01-17,134.525345,135.940002,137.289993,134.130005,134.830002,63646600,NaN,NaN,NaN,NaN,NaN
10,2023-01-18,133.802933,135.210007,138.610001,135.029999,136.820007,69672800,NaN,NaN,NaN,NaN,NaN
11,2023-01-19,133.862320,135.270004,136.250000,133.770004,134.080002,58280400,NaN,NaN,NaN,NaN,NaN
12,2023-01-20,136.435242,137.869995,138.020004,134.220001,135.279999,80223600,NaN,NaN,NaN,NaN,NaN
13,2023-01-23,139.641556,141.110001,143.320007,137.899994,138.119995,81760300,NaN,NaN,NaN,NaN,NaN
14,2023-01-24,141.046753,142.529999,143.160004,140.300003,140.309998,66435100,NaN,90.119479,NaN,NaN,NaN
15,2023-01-25,140.383728,141.860001,142.429993,138.809998,140.889999,65799300,NaN,87.227129,NaN,NaN,NaN
16,2023-01-26,142.461884,143.960007,144.250000,141.899994,143.169998,54105100,NaN,88.475609,NaN,NaN,NaN
17,2023-01-27,144.411392,145.929993,147.229996,143.080002,143.160004,70555800,NaN,89.511326,NaN,NaN,NaN
18,2023-01-30,141.511871,143.000000,145.550003,142.850006,144.960007,64015300,NaN,78.247596,NaN,NaN,NaN
19,2023-01-31,142.788437,144.289993,144.339996,142.279999,142.699997,65874500,135.778999,79.472350,NaN,NaN,NaN
20,2023-02-01,143.916580,145.429993,146.610001,141.320007,143.970001,77663600,136.796999,80.516381,NaN,NaN,NaN
21,2023-02-02,149.250519,150.820007,151.179993,148.169998,148.899994,118339000,138.019999,84.524120,NaN,NaN,NaN
22,2023-02-03,152.892197,154.500000,157.380005,147.830002,148.029999,154357300,139.493999,86.557228,NaN,NaN,NaN
23,2023-02-06,150.151016,151.729996,153.100006,150.779999,152.570007,69858300,140.599500,78.226602,NaN,NaN,NaN
24,2023-02-07,153.040634,154.649994,155.229996,150.639999,150.639999,83322600,141.824500,80.371240,NaN,NaN,NaN
25,2023-02-08,150.339050,151.919998,154.580002,151.169998,153.880005,64120100,142.884000,73.119761,NaN,NaN,NaN
26,2023-02-09,149.299957,150.869995,154.330002,150.419998,153.779999,56007100,143.752999,70.485615,NaN,NaN,NaN
27,2023-02-10,149.666687,151.009995,151.339996,149.220001,149.460007,57450700,144.632999,70.637502,NaN,NaN,NaN
28,2023-02-13,152.481415,153.850006,154.259995,150.919998,150.949997,62199000,145.587499,73.604965,NaN,NaN,NaN
29,2023-02-14,151.837204,153.199997,153.770004,150.860001,152.119995,61707600,146.450499,71.816017,NaN,NaN,NaN
30,2023-02-15,153.948242,155.330002,155.500000,152.880005,153.110001,65573800,147.456499,74.042405,NaN,NaN,NaN
31,2023-02-16,152.342682,153.710007,156.330002,153.350006,153.509995,68167900,148.378499,69.542858,NaN,NaN,NaN
32,2023-02-17,151.192993,152.550003,153.000000,150.850006,152.350006,59144100,149.112499,66.429838,NaN,NaN,NaN
33,2023-02-21,147.159180,148.479996,151.300003,148.410004,150.199997,58867200,149.480999,56.819338,5.625718,7.057919,-1.432201
34,2023-02-22,147.585358,148.910004,149.949997,147.160004,148.869995,51011300,149.799999,57.518612,5.044823,6.655300,-1.610477
35,2023-02-23,148.070999,149.399994,150.339996,147.240005,150.089996,48394200,150.176999,58.346376,4.571304,6.238501,-1.667197
36,2023-02-24,145.404938,146.710007,147.190002,145.720001,147.110001,55469600,150.314499,52.319168,3.933632,5.777527,-1.843895
37,2023-02-27,146.604156,147.919998,149.169998,147.449997,147.710007,44998500,150.413999,54.591422,3.485727,5.319167,-1.833440
38,2023-02-28,146.098709,147.410004,149.080002,146.830002,147.050003,50547000,150.634499,53.435546,3.054398,4.866213,-1.811815
39,2023-03-01,144.017395,145.309998,147.229996,145.009995,146.830002,55479000,150.685500,48.849033,2.514132,4.395797,-1.881665
40,2023-03-02,144.612045,145.910004,146.710007,143.899994,144.380005,52238100,150.709500,50.165182,2.110060,3.938649,-1.828590
41,2023-03-03,149.686493,151.029999,151.110001,147.330002,148.039993,70732300,150.720000,59.695427,2.177865,3.586493,-1.408628
42,2023-03-06,152.461609,153.830002,156.300003,153.460007,153.789993,87558000,150.686500,63.775325,2.429532,3.355100,-0.925568
43,2023-03-07,150.251450,151.600006,154.029999,151.130005,153.699997,56182000,150.680000,58.680611,2.421129,3.168306,-0.747177
44,2023-03-08,151.510147,152.869995,153.470001,151.830002,152.809998,47204800,150.591000,60.610483,2.488263,3.032298,-0.544034
45,2023-03-09,149.250427,150.589996,154.539993,150.229996,153.559998,53833600,150.524500,55.590582,2.330625,2.891963,-0.561338
46,2023-03-10,147.179031,148.500000,150.940002,147.610001,150.210007,68572400,150.406001,51.388998,2.013836,2.716338,-0.702502
47,2023-03-13,149.131500,150.470001,153.139999,147.699997,147.809998,84457100,150.379001,54.852765,1.899841,2.553038,-0.653197
48,2023-03-14,151.232635,152.589996,153.399994,150.100006,151.279999,73695900,150.316000,58.296573,1.957995,2.434030,-0.476035
49,2023-03-15,151.629074,152.990005,153.250000,149.919998,151.190002,77167900,150.305501,58.933103,2.013153,2.349854,-0.336702